

@media screen and (min-width: 480px) {
    #digital .row1{
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }
    #digital .row1 .row1-col1{
        width: 46.5%;
        padding-right: 5px;
        display: flex;
        flex-direction: column;
    }
    #digital .row1 .row1-col1 .img-container:first-child{
        margin-bottom: 10px;

    }
    #digital .row1 .row1-col2{
        width: 53.5%;
        padding-left: 5px;
        display: flex;
    }
    #digital .row1 .row1-col2 img{
        height: 100%;
    }
    #digital .row2{
        display: flex;
    }

    #digital .img-container{
        position: relative;
    }
    #digital .img-container .cover{
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        color: #fff;
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0,0,0,.7);
        transition: 500ms;
    }
    #digital .img-container:hover .cover{
        transition: 500ms;
        opacity: 1;
    }
    #digital .img-container img{
        width: 100%;
        z-index: 10;
    }
}